@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main: #488BA8;
    --white: "#FFFFFF",
    --black: "#1E1E1E",
    --light: "#E4E7E9"
}


@layer components {
    

    .nav-link:hover {
        color: var(--main);
        transition: all 0.4s;
    }

    .nav-link::after {
        position: absolute;
        content: "";
        background-color: var(--main);
        height: 3px;
        width:100%;
        bottom:-5px;
        left: 0;
        scale: 0;
        transform-origin: left;
        transition: all 0.4s;
    }

    .nav-link:hover::after {
        scale: 1;
    }

    .icon-why {
        content: "";
        color: var(--main);
        width: 50px;
        height: 50px;
        margin-right: 25px;
        clear: both;
        display: table;
    }

    .brand-logo {
        border: 10px;
        color: green;
    }
    
}
